:root{
    background-color: #000;
}
body{
    background-image: url("../../src/assets/Gemini_Generated_Image_1h67km1h67km1h67.png");
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.cont_index{
    display: flex;
    align-items: center;
    padding: 0px 40px;
    width: 80%;
    height: 80%;
}
.cont_menu-main{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
}