.cont_login{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.cont_form{
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 50%;
}
.cont_form-reg{
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 70%;
}
.shds{
    display: grid;
    place-content: center;
    border: 1px solid;
    border-radius: 20px;
    height: 100%;
    width: 50%;  
    margin-right: 50px;
}
.form{
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #fff;
    border-radius: 20px;
    width: 50%;
    font-size: 1.4em;
    height: 100%;
    color-scheme: light dark;
}

.form input{
    height: 40px;
    width: 100%;
}

.form button{
    height: 30px;

}
.ms_inv{
    color: #f33;
    font-size: .7em;
}

.img_login{
    width: 300px;
    height: 300px;
}               