.cont_main {
  width: 100%;
  height: 100%;
  padding-top: 20px;
}
.cont_bdentry {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #666;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #000;
}
.cont_email {
  padding: 0;
  width: 100%;
}

.u_em {
  font-size: 1.5em;
  margin: 0;
}
.email p {
  margin-bottom: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.email {
  border: 1px solid #444;
  margin-bottom: 5px;
  max-height: 100px;
  list-style: none;
  padding: 10px 20px;
}

.email:hover {
  background-color: #333;
}
.cont_newema {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: #fff;
}
.cont_newema input {
  color: #fff;
}
.in_emsend {
  margin: 10px 20px;
  background-color: #111;
  outline: none;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  border-bottom: 1px solid #333;
}

.in_tosend {
  height: 3em;
}

.in_asunto {
  height: 3em;
}

.in_work {
  resize: none;
  height: 60%;
}

.bt_send_em {
  margin: 10px 20px;
  height: 40px;
  width: 80px;
  font-weight: 600;
}
.us_ic_tw {
  font-size: 1.2em;
  border-radius: 100%;
  border: 1px solid;
  padding: 13px;
  background-color: purple;
}

.c_em {
  margin: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cont_users_em {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #444;
}
.us_b_me {
  color: #666;
  font-size: 1em;
  transform: translate(0, -15px);
  margin-left: 10px;
  list-style: circle;
}
.con_dt_em {
  display: flex;
  margin: 0, 50px;
  border: 1px solid;
}

.mess_em {
  font-size: 1.3em;
}

.us_ems {
  display: flex;
  align-items: center;
  border-radius: 25px;
  margin-bottom: 30px;
  align-self: flex-start;
  font-weight: 700;
  padding: 4px;
}
.us_ems:hover {
  background-color: #444;
}
.dte_em {
  margin-top: 10px;
  font-size: 0.9em;
  color: #555;
}
.a_li_em {
  text-decoration: none;
  color: #fff;
}
