.cont_menu{
    width: 20%;
    height: 100%;
    padding-top: 45px;
    padding-left: 20px ;
    padding-right: 20px;
}
.us_men{
    display: flex;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 30px;
    align-self: flex-start;
    margin-left: 15px;
    font-weight: 700;
    padding: 4px;
}

.us_ic{
    font-size: 1.2em;
    border-radius: 100%;
    border: 1px solid;
    padding: 13px;
    background-color: darkcyan;
}
.us_p{
    margin-left: 10px;
}

.us_men:hover{
    background-color: #444;
}
.nav_men{
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 97%;
    width: 100%;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.redactar{

    width: 40%;
    border-radius: 15px;
    margin-left: 25px;
    border: none;
    background-color: #fff;
    color: #000;
    padding: 20px ;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: .9em;
}

.tag_men{
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px ;
    padding: 10px;
    color: #000;
    margin-bottom: 25px;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
}
.butt_nav{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.tag_men:hover{
    background-color: #444;
}

.cont_us-red{
    width: 100%;
    color: #fff;
}
.ex_sess{
    padding: 10px;
    align-self: flex-start;
    background-color:#36f;
    border-radius: 15px;
    margin-left: 15px;
    border: none;
    cursor: pointer;
}
